<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="description" content="{$SEO['description']}"/>
        <meta name="keywords" content="{$SEO['keyword']}"/>
        {template "content","header1_inclub"}
    </head>
    <body>
        {template "content","header1"}
        <div class="maincont">
            <div class="kong"></div>
            <div class="cont_2_sj">
                <div class="LEFT_ct2">
                    <div class="ZH_recent_list">
                        <div class="ZHli_recent_nav">
                            <div class="nav1 MID_current">推荐展会</div>

                            <div class="clear"></div>
                        </div>
                        <div class="recent1_list clear:after">
                            <div class="ex_rencent">
                                <a href="ZHZLDetail.aspx?PKID=1090" target="_blank"><img src="{IMG_PATH}new/f80844a6-5752-4d86-9280-f2681734c4aa.jpg" /></a>
                                <div class="L_rencent_info">
                                    <ul>
                                        <li>
                                            <a  href="ZHZLDetail.aspx?PKID=1090" target="_blank">2015第21届西部...</a> 
                                        </li>
                                        <li>行业：</li>
                                        <li>领域：中国境内</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ex_rencent">
                                <a href="ZHZLDetail.aspx?PKID=1077" target="_blank"><img src="{IMG_PATH}new/f80844a6-5752-4d86-9280-f2681734c4aa.jpg" /></a>
                                <div class="L_rencent_info">
                                    <ul>
                                        <li>
                                            <a  href="ZHZLDetail.aspx?PKID=1077" target="_blank">2015年德国科隆食...</a> 
                                        </li>
                                        <li>行业：食品、饮...</li>
                                        <li>领域：欧洲</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="ex_rencent">
                                <a href="ZHZLDetail.aspx?PKID=1076" target="_blank"><img src="{IMG_PATH}new/f80844a6-5752-4d86-9280-f2681734c4aa.jpg" /></a>
                                <div class="L_rencent_info">
                                    <ul>
                                        <li>
                                            <a  href="ZHZLDetail.aspx?PKID=1076" target="_blank">2015年俄罗斯国际...</a> 
                                        </li>
                                        <li>行业：食品、饮...</li>
                                        <li>领域：欧洲</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ex_rencent">
                                <a href="ZHZLDetail.aspx?PKID=1074" target="_blank"><img src="{IMG_PATH}new/f80844a6-5752-4d86-9280-f2681734c4aa.jpg" /></a>
                                <div class="L_rencent_info">
                                    <ul>
                                        <li>
                                            <a  href="ZHZLDetail.aspx?PKID=1074" target="_blank">2015巴西食品展览会</a> 
                                        </li>
                                        <li>行业：食品、饮...</li>
                                        <li>领域：美洲</li>
                                    </ul>
                                </div>
                            </div><div class="clear"></div>
                        </div>

                    </div>
                    <div style="clear:both;"></div>
                    <div class="ZH_area">
                        <div class="ZH_area_nav">
                            <div class="nav1 MID_current">最新展会</div>
                            <a href="ZHZLList.aspx" target="_blank">更多>></a>
                            <div class="clear"></div>
                        </div>
                        <div class="ZH_area_cont">
                            <ul>

                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1090" target="_blank">
                                        <span class="type">[四川德阳]</span>
                                        <span class="zh_xx">2015第21届西部制博会暨中...</span>
                                    </a>
                                    <span>[2015-10]</span>
                                    [未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="GJHHIndex.aspx?ZHID=180" target="_blank"><span class="type">[广东广州]</span><span class="zh_xx">117届中国进出口商品交易会</span></a>
                                    <span>[2015-04]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1077" target="_blank"><span class="type">[德国科隆]</span><span class="zh_xx">2015年德国科隆食品展暨欧洲...</span></a>
                                    <span>[2015-10]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1076" target="_blank"><span class="type">[俄罗斯-莫斯...]</span><span class="zh_xx">2015年俄罗斯国际食品展</span></a>
                                    <span>[2015-09]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1074" target="_blank">
                                        <span class="type">[巴西圣保罗展...]</span>
                                        <span class="zh_xx">2015巴西食品展览会</span>
                                    </a>
                                    <span>[2015-06]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1071" target="_blank">
                                        <span class="type">[加拿大]</span>
                                        <span class="zh_xx">2015加拿大国际食品展暨北美...</span>
                                    </a>
                                    <span>[2015-04]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1070" target="_blank"><span class="type">[韩国]</span><span class="zh_xx">2015韩国食品展览会</span></a>
                                    <span>[2015-05]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1069" target="_blank"><span class="type">[德国]</span><span class="zh_xx">2015欧洲精细化工展览会</span></a>
                                    <span>[2015-06]</span>[未组织]</li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1066" target="_blank"><span class="type">[印度尼西亚雅...]</span><span class="zh_xx">2015中国四川商品（印尼）展...</span></a>
                                    <span>[2015-05]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1064" target="_blank">
                                        <span class="type">[广东广州天河区]</span>
                                        <span class="zh_xx">2015中国广州有机营养健康食...</span>
                                    </a>
                                    <span>[2015-06]</span>[未组织]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1063" target="_blank"><span class="type">[印度孟买]</span><span class="zh_xx">关于赴印度、斯里兰卡举办201...</span></a>
                                    <span>[2014-12]</span>[已结束]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1062" target="_blank"><span class="type">[布尔诺]</span><span class="zh_xx">第56届国际工程博览会</span></a>
                                    <span>[2014-09]</span>[已结束]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1061" target="_blank"><span class="type">[巴西圣保罗]</span><span class="zh_xx">关于组织企业赴巴西参加中国品牌...</span></a>
                                    <span>[2014-11]</span>[已结束]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1055" target="_blank"><span class="type">[上海]</span><span class="zh_xx">2014上海工业自动化展览会</span></a>
                                    <span>[2014-11]</span>[已结束]
                                </li>
                                <li>
                                    <font class="word_color">&middot;</font>
                                    <a class="zxzh" href="ZHZLDetail.aspx?PKID=1053" target="_blank"><span class="type">[北京]</span><span class="zh_xx">ciame-2014第六届中国...</span></a>
                                    <span>[2014-11]</span>[已结束]
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="RIGHT_ct2">
                    <div class="ZH_cx_list">
                        <div class="RED">
                            <div class="kong"></div>
                            <div class="JZ_polling">
                                <label>展会名称:</label><input name="ctl00$ContentPlaceHolder1$zhname" type="text" id="ctl00_ContentPlaceHolder1_zhname" class="zhname" />
                            </div>
                            <div class="JZ_polling">
                                <label>展会行业:</label> <select name="ctl00$ContentPlaceHolder1$ddlHY" id="ctl00_ContentPlaceHolder1_ddlHY" class="ddlHY" style="width:25%;">
                                    <option value="-1">-所有-</option>
                                    <option value="1">工业、机械、加工</option>
                                    <option value="2">汽车、交通工具</option>
                                    <option value="3">IT设备、数码、软件</option>
                                    <option value="4">通信、通讯、电子</option>
                                    <option value="5">海洋、航空、航天</option>
                                    <option value="6">化工、能源、环保</option>
                                    <option value="7">建筑、装潢、五金</option>
                                    <option value="8">家居、家电、日用品</option>
                                    <option value="9">服饰、皮革、纺织</option>
                                    <option value="10">玩具、礼品、工艺品</option>
                                    <option value="11">生物、医药、保健</option>
                                    <option value="12">旅游、酒店、餐饮</option>
                                    <option value="13">食品、饮料、酒</option>
                                    <option value="14">首饰、珠宝、美容</option>
                                    <option value="15">影视、娱乐、体育</option>
                                    <option value="16">媒体、广告、出版</option>
                                    <option value="17">印刷、包装、纸业</option>
                                    <option value="18">运输、物流、仓储</option>
                                    <option value="19">金融、保险、审计</option>
                                    <option value="20">投资、连锁、加盟</option>
                                    <option value="21">加工、贸易、进出口</option>
                                    <option value="22">办公、文教、艺术</option>
                                    <option value="23">农、林、牧、渔</option>
                                    <option value="24">公共、安防、智能</option>
                                    <option value="25">综合、跨行业类</option>
                                    <option value="26">其他行业</option>

                                </select>
                            </div>
                            <div class="MH_polling">
                                <label>展会地区:</label>
                                <div class="polling_2">
                                    <input type="radio" value="1" name="item"  checked="true"  />中国境内
                                    <input type="radio" value="2" name="item" />亚洲其他
                                    <input type="radio" value="3" name="item" />非洲
                                    <input type="radio" value="4" name="item" />欧洲<br/>
                                    <input type="radio" value="5" name="item" />美洲
                                    <input type="radio" value="6" name="item" />大洋洲

                                </div> 
                                <div class="clear"></div>
                            </div>
                            <div class="MH_polling">
                                <label>展会时间:</label>从<input name="ctl00$ContentPlaceHolder1$txtZHKSRQ" type="text" id="ctl00_ContentPlaceHolder1_txtZHKSRQ" style=" width:88px" onfocus="WdatePicker()" class="txtZHKSRQ" />到<input name="ctl00$ContentPlaceHolder1$txtZHJSRQ" type="text" id="ctl00_ContentPlaceHolder1_txtZHJSRQ" style=" width:88px" onfocus="WdatePicker()" class="txtZHJSRQ" />
                            </div>
                            <div class="polling_but"> <a class="search" target="_blank"><img src="{IMG_PATH}new/ct2_but_18.gif"  /></a></div>
                        </div>
                    </div>
                    <script language="javascript" type="text/javascript">
                        $(".search").click(function () {
                            window.location = "ZHZLList.aspx?ZHMC=" + encodeURIComponent($(".zhname").val()) + "&ZHDQ=" + $("input[@type=radio][name=item][checked]").val() + "&ZHKSSJ=" + encodeURIComponent($(".txtZHKSRQ").val()) + "&ZHJSRQ=" + encodeURIComponent($(".txtZHJSRQ").val()) + "&ZHHY=" + $(".ddlHY").find("option:selected").val();
                        });
                        $(".baoming").click(function () {
                            var ZHID = $(".baoming").attr("zhid").toString();
                            window.top.createDIV(window, "/ZHZL/Baoming.aspx?PKID=''", "展会报名", 750, 600);
                        });
                    </script>

                    <!--以上是  ZH_recent-->
                    <div class="A_bit">
                        <div class="A_bit_nav">
                            <div class="RIGHT_current RIGHT_check"><a href="#">展会一点通</a></div>

                        </div>
                        <div class="A_bit_cont">
                            <div class="but_bit">
                                <a href="#"><img src="{IMG_PATH}new/BUT_1_06.gif" /></a>
                            </div>
                            <div class="but_bit">
                                <a href="#"><img src="{IMG_PATH}new/BUT_2_06 (2).gif" /></a>
                            </div>
                            <div class="but_bit3">
                                <a href="#"><img src="{IMG_PATH}new/BUT_3_06.gif" /></a>
                            </div>
                            <div class="but_bit">
                                <a href="#"><img src="{IMG_PATH}new/BUT_4_06.gif" /></a>
                            </div>
                            <div class="but_bit">
                                <a href="#"><img src="{IMG_PATH}new/but_5_06.gif"/></a>
                            </div>
                            <div class="but_bit3">
                                <a href="#"><img src="{IMG_PATH}new/BUT_6_06.gif"/></a>
                            </div>
                            <div class="but_bit bit_bt">
                                <a href="#"><img src="{IMG_PATH}new/BUT_7_06.gif"/></a>
                            </div>
                            <div class="but_bit bit_bt">
                                <a href="#"><img src="{IMG_PATH}new/but_8_06.gif" /></a>
                            </div>
                            <div class="but_bit4">
                                <a href="#"><img src="{IMG_PATH}new/but_9_06.gif" /></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!--以上是 A_bit-->

                    <!--以上是V_introduction-->
                    <div class="A_bit">
                        <div class="A_bit_nav">
                            <div class="RIGHT_current RIGHT_check"><a href="#">展会知识</a></div>

                        </div>
                        <div class="A_bit_cont">
                            <ul>
                                <li><span>2015-07-24</span>
                                    <a target="_blank" href="ZHZXDetail.aspx?PKID=32465">▪&nbsp;展台设计中传统模板与量身设计的利...</a>
                                </li>
                                <li>
                                    <span>2015-07-16</span>
                                    <a target="_blank" href="ZHZXDetail.aspx?PKID=32351">▪&nbsp;企业在选择展览会时务必确定目标</a>
                                </li>
                                <li>
                                    <span>2015-06-16</span>
                                    <a target="_blank" href="ZHZXDetail.aspx?PKID=31975">▪&nbsp;参展商容易忽略的四个细节</a>
                                </li>
                                <li><span>2015-06-15</span><a target="_blank" href="ZHZXDetail.aspx?PKID=31963">▪&nbsp;参展的十个步骤</a></li>
                                <li><span>2015-06-09</span><a target="_blank" href="ZHZXDetail.aspx?PKID=31884">▪&nbsp;维护会展知识产权 推动行业健康发展</a></li>

                            </ul>
                            <div class="MID_more"><a target="_blank" href="{$CATEGORYS[12][url]}">更多>></a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

       <!--以上是中间内容部分-->

        
        {template "content","foot1"}
    </body>
</html>
