<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="description" content="{$SEO['description']}" />
        <meta name="keywords" content="{$SEO['keyword']}" />
         <link href="{CSS_PATH}new/public.css" rel="stylesheet" type="text/css" />
        <script src="{JS_PATH}/jquery.min.js" type="text/javascript"></script>
        <script src="{JS_PATH}new/PostionHelper.js" type="text/javascript"></script>
        <script src="{JS_PATH}new/StringHelper.js" type="text/javascript"></script>
        <script src="{JS_PATH}new/getURLparameters.js" type="text/javascript"></script>
        <script src="{JS_PATH}new/OpenWindow.js" type="text/javascript"></script>
        <script src="{JS_PATH}new/FormCheck.js" type="text/javascript"></script>
        <script src="{JS_PATH}new/CDPTPF.js" type="text/javascript"></script>
        <script src="{JS_PATH}new/picScrollByStep.js" type="text/javascript"></script>
        <link href="{CSS_PATH}new/law.css" rel="stylesheet" type="text/css"/>
        <style>
            .mid{
            width:994px;
            margin:0 auto;}
        </style>
    </head>
    
    <body>
      {template "content","header"}
    </div>
    <div class="mid" style="min-height:570px;">
          <div class="ui_layout_left">
              <div class="ui_lay_zccx">
                  <div class="ui_zccx_nav"></div>
                  
                  <form action="#" method="post" id="searchForm">
                  <div class="ui_lay_cont">
                      <div class="ui_check">
                          <label>
                              <input type="radio" name="classify" class="rdozcfg" checked="ckecked" value="21"/>政策法规</label>
                          <label>
                              <input type="radio" name="classify" class="rdofczc" value="22" />扶持政策</label>
                      </div>
                      
                      <div class="formcont">
                          <div>
                              <label for="title">
                                  标题：</label><input type="text" class="zcbt" name="title" id="zcbt" /></div>
                          <div>
                              <label for="title">
                                  文号：</label><input type="text" name="fileNumb" class="zcwh" id="zcwh" /></div>
                          <div>
                              <label for="title">
                                  关键字：</label><input type="text" name="keywords" class="gjz" id="gjz" /></div>
                          <div class="btn">
                              <input type="submit" class="btnzccx_1" value="" onclick="beforeSubmit();"/></div>
                      </div>
                     
                  </div>
                    </form>
                  
                  <script>
                        function beforeSubmit(){
                            var catid=$("input[name='classify']:checked").val();
                            var url="./index.php?m=content&c=index&a=lists&catid="+catid;
                            $("#searchForm").attr("action",url);
                        }
                  </script>
           
              </div>
              <!--以上是政策查询-->
              <div class="ui_but">
                  <a href="{$CATEGORYS[21][url]}" target="_blank">
                      <img src="{IMG_PATH}new/Policy_zcfg_10.gif" alt="政策法规" /></a>
              </div>
              <div class="ui_but">
                  <a href="{$CATEGORYS[22][url]}" target="_blank"> 
                      <img src="{IMG_PATH}new/Policy_fczc_12.gif" alt="扶持政策" /></a>  
              </div>
              <!--以上是图片链接-->
              <div class="ui_import">
                  <div class="ui_import_nav">
                      重要政策法规推荐
                  </div>
                  <div class="ui_import_cont">
                      <ul>
                        {pc:content  action="position" posid="18" order="listorder DESC" num="7"}
        	 	{loop $data $r}      
                          <li><img src="{IMG_PATH}new/icon_13.gif" /><a  href="{$r[url]}" target="_blank">{str_cut($r[title],54,'……')}</a></li>
                        {/loop}  
                        {/pc}
                      </ul>
                  </div>
              </div>
              
              <div class="ui_import" >
                  <div class="ui_import_nav">
                      重要扶持政策推荐</div>
                  <div class="ui_import_cont">
                      <ul>
                        {pc:content  action="position" posid="19" order="listorder DESC" num="7"}
        	 	{loop $data $r} 
                          <li><img src="{IMG_PATH}new/icon_13.gif" />
                              <a  href="{$r[url]}" target="_blank">{str_cut($r[title],54,'……')}</a>
                          </li>
                        {/loop}  
                        {/pc}
                      </ul>
                  </div>
              </div>
          </div>
          <style>
              .ui_import_nav{text-indent:72px;}
          </style>
          
          <div class="ui_layout_right">
              <div class="ui_list_zcfg">
                  <div class="ui_list_nav">
                      <a target="_blank" href="{$CATEGORYS[21][url]}">更多>></a>
                      <img src="{IMG_PATH}new/Policy_icon_06.png" />政策法规
                  </div>
                  <div class="ui_list_cont">
                      <div class="ui_list_current">
                          <ul>
                              <li class="list_check lxnone" zcvl="zcvl1"><a href="#">商务</a></li>
                              <li class="list_none lxnone" zcvl="zcvl2"><a href="#">国税</a></li>
                              <li class="list_none lxnone" zcvl="zcvl3"><a href="#">外管</a></li>
                              <li class="list_none lxnone" zcvl="zcvl4"><a href="#">海关</a></li>
                              <li class="list_none lxnone" zcvl="zcvl5"><a href="#">商检</a></li>
                              <li class="list_none lxnone" zcvl="zcvl6"><a href="#">其他</a></li>
                          </ul>
                      </div>
                      <!--政策法规的”商务“-->
                      
                      <ul class="LIST_cont zxvl_1" id="zcvl1">
                          {pc:content action="hits" catid="57" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                           {/loop}
                            {/pc}
                      </ul>
                      <!--政策法规的”商务“结束-->
                      
                      <!--政策法规的”国税”-->
                      <ul class="LIST_cont zxvl_1" style="display: none;" id="zcvl2">
                           {pc:content action="hits" catid="58" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                          {/loop}
                            {/pc}
                          
                      </ul>
                      <!--政策法规的”国税“结束-->
                      
                         <!--政策法规的”外管“-->
                      <ul class="LIST_cont zxvl_1" style="display: none;" id="zcvl3">
                           {pc:content action="hits" catid="59" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                          {/loop}
                            {/pc}
                          
                      </ul>
                      <!--政策法规的”外管“结束-->   
                         
                       <!--政策法规的”海关“开始-->
                      <ul class="LIST_cont zxvl_1" style="display: none;" id="zcvl4">
                          {pc:content action="hits" catid="60" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                           {/loop}
                            {/pc}
                      </ul>
                       <!--政策法规的”海关“结束-->
                     
                        <!--政策法规的”商检“-->
                      <ul class="LIST_cont zxvl_1" style="display: none;" id="zcvl5">
                          {pc:content action="hits" catid="61" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                            {/loop}
                            {/pc}
                          
                      </ul>
                         <!--政策法规的”商检“结束-->
                         
                       <!--政策法规的”其他“-->
                      <ul class="LIST_cont zxvl_1" style="display: none;" id="zcvl6">
                          {pc:content action="hits" catid="62" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                        {/loop}
                        {/pc}
                          
                      </ul>
                        <!--政策法规的”其他“结束-->
                      
                      <div class="clear"></div>
                      <script type="text/javascript">
                          //控制点击更换下面列表
                          $(".lxnone").click(function () {
                              var topbtli = this;
                              $(".lxnone").each(function () {
                                  if (this == topbtli) {
                                      if ($(this).hasClass("list_none")) {
                                          $(this).removeClass("list_none");
                                          $(this).addClass("list_check");
                                      }
                                  } else {
                                      if ($(this).hasClass("list_check")) {
                                          $(this).removeClass("list_check");
                                          $(this).addClass("list_none");
                                      }
                                  }
                              });
                              $(".zxvl_1").hide();
                              $("#" + $(topbtli).attr("zcvl")).show();
                              return false;
                          });
                      </script>
                  </div>
              </div>
              <div class="ui_list_zcfg">
                  <div class="ui_list_nav">
                      <a target="_blank" href="{$CATEGORYS[22][url]}">更多>></a>
                      <img src="{IMG_PATH}new/Policy_icon_06.png" />扶持政策
                  </div>
                  <div class="ui_list_cont">
                      <div class="ui_list_current">
                          <ul>
                              <li class="list_check jdnone" jdvl="jdvl1" id="jd_kb"><a href="#">商务</a></li>
                              <li class="list_none jdnone" jdvl="jdvl2"><a href="#">经委</a></li>
                              <li class="list_none jdnone" jdvl="jdvl3"><a href="#">农委</a></li>
                              <li class="list_none jdnone" jdvl="jdvl4"><a href="#">科技</a></li>
                              <li class="list_none jdnone" jdvl="jdvl5"><a href="#">其他</a></li>
                          </ul>
                      </div>
                       <!--扶持政策的”商务“-->
                      <ul class="LIST_cont jd_fljd" id="jdvl1">
                          {pc:content action="hits" catid="63" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                            {/loop}
                          <div style='clear:both;'></div>
                          {/pc}
                          
                      </ul>
                        <!--政策法规的”商务“结束-->
                      
                         <!--政策法规的”经委“-->
                      <ul class="LIST_cont jd_fljd" style="display: none;" id="jdvl2">
                          {pc:content action="hits" catid="64" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                           {/loop}
                          <div style='clear:both;'></div>
                           {/pc}
                      </ul>
                      <!--政策法规的”经委“结束-->
                      
                       <!--政策法规的”农委“-->
                      <ul class="LIST_cont jd_fljd" style="display: none;" id="jdvl3">
                          {pc:content action="hits" catid="65" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                         {/loop}
                          <div style='clear:both;'></div>
                         {/pc}
                      </ul>
                        <!--政策法规的”农委“结束-->
                       
                         <!--政策法规的”科技“-->
                      <ul class="LIST_cont jd_fljd" style="display: none;" id="jdvl4">
                          {pc:content action="hits" catid="66" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                            {/loop}
                          <div style='clear:both;'></div>
                             {/pc}
                          
                      </ul>
                      <!--政策法规的”科技“结束-->   
                      
                       <!--政策法规的”其他“-->
                      <ul class="LIST_cont jd_fljd" style="display: none;" id="jdvl5">
                           {pc:content action="hits" catid="67" num="11" order="monthviews DESC" cache="3600"}
                          {loop $data $r}
                          <li><span>{date('Y-m-d H:i:s',$r[inputtime])}</span>
                              <a  href="{$r[url]}" target="_blank">
                                  <img src="{IMG_PATH}new/icon_13.gif" />{str_cut($r[title], 100)}
                              </a>
                          </li>
                             {/loop}
                          <div style='clear:both;'></div>
                            {/pc}

                      </ul>
                        <!--政策法规的”其他“结束-->
                      <script type="text/javascript">
                          //控制点击更换下面列表
                          $(".jdnone").click(function () {
                              var topbtli = this;
                              $(".jdnone").each(function () {
                                  if (this == topbtli) {
                                      if ($(this).hasClass("list_none")) {
                                          $(this).removeClass("list_none");
                                          $(this).addClass("list_check");
                                      }
                                  } else {
                                      if ($(this).hasClass("list_check")) {
                                          $(this).removeClass("list_check");
                                          $(this).addClass("list_none");
                                      }
                                  }
                              });
                              $(".jd_fljd").hide();
                              $("#" + $(topbtli).attr("jdvl")).show();
                              return false;
                          });
                      </script>
                  </div>
              </div>
          </div>
      </div>
      <div class="clear">
      </div>
      <!--以上是中间内容部分--> 
      {template "content","footer"}
    </body>
</html>
