<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="description" content="{$SEO['description']}"/>
        <meta name="keywords" content="{$SEO['keyword']}"/>
        {template "content","header1_inclub"}
        <link href="{CSS_PATH}new/jquery-ui.css" type="text/css" rel="stylesheet" />
       <script src="{JS_PATH}new/jquery-ui.min.js" type="text/javascript"></script>
    </head>
    <body>
    {template "content","header1"}
    <div class="maincont">
        <div class="kong"></div>
        <div class="cont_2_sj">
            <div class="LEFT_ct2">
                <div class="ZH_recent_list">
                    <div class="ZHli_recent_nav">
                        <div class="nav1 MID_current">参展补贴</div>

                        <div class="clear"></div>
                    </div>
                    <div class="recent_butie">
                    {pc:content  action="lists" catid="86" order="updatetime DESC" thumb="1" num="1" return="info"}
                     {loop $info $v}
                      <a  href="{$v['url']}" target="_blank">
                        <img src="{thumb($v[thumb],100,55)}" />
                      </a>
                    {/loop}
                   {/pc}  
                   
                    <ul>
                    {pc:content action="lists" catid="86" num="6" order="id DESC" return="info"}
                     {loop $info $v}
                        <li>
                            <a href="{$v['url']}" target="_blank">
                                <font class="word_red">&middot;</font>{str_cut($v['title'],52,'……')}
                            </a>
                        </li>
                        {/loop}
                       {/pc}
                        <div class="clear"></div>
                    </ul>
                   
                    </div>

                </div>
                <!--以上是最新资讯-->
                <div class="ZH_area">
                    <div class="ZH_area_nav">
                        <div class="nav1 MID_current">政府组织</div>
                        <a target="_blank" href="{$CATEGORYS[87][url]}">更多>></a>
                        <div class="clear"></div>
                    </div>
                    <div class="ZH_new_cont">
                        <ul>
                        {pc:content action="lists" catid="87" num="7" order="id DESC" return="info"}
                         {loop $info $v} 
                            <li>
                                <a href="{$v['url']}" target="_blank"><font class="word_red">&middot;</font>{str_cut($v['title'],80,'……')}</a>
                                <span>{date('Y-m-d',$v[inputtime])}</span> 
                            </li>
                        {/loop}
                        {/pc}   
                        </ul>
                    </div>
                </div>
                <div class="ZH_area">
                    
                   {pc:content  action="lists" catid="88" order="updatetime DESC" num="1" return="info"}
                   {loop $info $v}
                    <div class="butie_nav">
                        <a target="_blank" href="{$v['url']}">更多>></a><span>{str_cut($v['title'],80,'……')}</span>
                    </div>
                    <div class="ZH_new_cont">              
                        <p>
                            <a target="_blank" href="{$v['url']}">  {str_cut($v['description'],200,'……')}</a>
                        </p>
                    </div>
                  {/loop}
                  {/pc} 
                </div>
                <div class="ZH_area">
                    <div class="ZH_area_nav">
                        <div class="nav1 MID_current">其他资金</div>
                        <a target="_blank" href="{$CATEGORYS[88][url]}">更多>></a>
                        <div class="clear"></div>
                    </div>
                    <div class="ZH_new_cont">
                        <ul>
                        {pc:content action="lists" catid="88" num="7" order="id DESC" return="info"}
                         {loop $info $v} 
                            <li>
                                <a href="{$v['url']}" target="_blank"><font class="word_red">&middot;</font>{str_cut($v['title'],80,'……')}</a>
                                <span>{date('Y-m-d',$v[inputtime])}</span> 
                            </li>
                        {/loop}
                        {/pc}   
                        </ul>
                    </div>
                </div>
            </div>
            <div class="RIGHT_ct2">
                {template "content","zhzl_search"}   <!--展会的搜索公用框部分-->
               
                <!--以上是  ZH_recent-->
                <div class="A_bit">
                    <div class="A_bit_nav">
                        <div class="RIGHT_current RIGHT_check"><a href="#">展会一点通</a></div>

                    </div>
                    <div class="A_bit_cont">
                        <div class="but_bit">
                            <a href="#"><img src="{IMG_PATH}new/BUT_1_06.gif" /></a>
                        </div>
                        <div class="but_bit">
                            <a href="#"><img src="{IMG_PATH}new/BUT_2_06 (2).gif" /></a>
                        </div>
                        <div class="but_bit3">
                            <a href="#"><img src="{IMG_PATH}new/BUT_3_06.gif" /></a>
                        </div>
                        <div class="but_bit">
                            <a href="#"><img src="{IMG_PATH}new/BUT_4_06.gif" /></a>
                        </div>
                        <div class="but_bit">
                            <a href="#"><img src="{IMG_PATH}new/but_5_06.gif"/></a>
                        </div>
                        <div class="but_bit3">
                            <a href="#"><img src="{IMG_PATH}new/BUT_6_06.gif"/></a>
                        </div>
                        <div class="but_bit bit_bt">
                            <a href="#"><img src="{IMG_PATH}new/BUT_7_06.gif"/></a>
                        </div>
                        <div class="but_bit bit_bt">
                            <a href="#"><img src="{IMG_PATH}new/but_8_06.gif" /></a>
                        </div>
                        <div class="but_bit4">
                            <a href="#"><img src="{IMG_PATH}new/but_9_06.gif" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!--以上是 A_bit-->

                <!--以上是V_introduction-->
                <div class="A_bit">
                    <div class="A_bit_nav">
                        <div class="RIGHT_current RIGHT_check">
                            <a href="{$CATEGORYS[18][url]}">推荐机构</a>
                        </div>

                    </div>
                    <div class="A_bit_cont">
                        <ul>
                                
                    {pc:content action="hits" catid="18" num="8" order="monthviews DESC" cache="3600"}
                    {loop $data $r} 
                    <li>
                        <a target="_blank" href="{$r[url]}">▪&nbsp;{str_cut($r[title], 54, '……')}</a>
                    </li>
                    {/loop}
                    {/pc}

                        </ul>
                        <div class="MID_more"><a target="_blank" href="{$CATEGORYS[18][url]}">更多>></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!--以上是中间内容部分-->

    {template "content","foot1"}
    </body>
</html>
