<div id="_my97DP" style="position: absolute; top: -1970px; left: -1970px;">
    <iframe style="width: 186px; height: 198px;" src="http://www.tpsp.com.cn/Themes/cdweb/js/My97DatePicker/My97DatePicker.htm" frameborder="0" border="0" scrolling="no"></iframe>
</div>
<div class="frame_1" style="width:1292px; height:1030px; position:absolute; left:0px; top:0px;z-index:102;background:#9E9E9E;filter:alpha(opacity=50);">
    <iframe frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
</div>
<div class="dvUEdit_1" style="left:435px;top:366.5px;width: 450px; height: 265px; border: 5px solid #B0CEE8;border-top: 0px solid #B0CEE8;position: absolute; background:#fff; overflow: hidden; text-align:center;z-index:103;">
    <div class="login_line" style="background: #B0CEE8; display: inline-block; width: 100%;height: 28px;">
        <span class="login_head" style="font-size: 14px; color:white; font-weight: bold; display: block;float: left; height: 28px; line-height: 28px; width: 200px; text-align:left; text-indent:20px;">用户登录</span>
        <span id="close_1" class="login_close" style="background: url(/Themes/Default/img/close.gif) no-repeat 8px 8px;cursor: pointer; width: 28px; height: 28px; display: block; float: right;"></span>
    </div>
    <iframe id="iframe_1" class="iframe_1" scrolling="auto" frameborder="0" src="./phpcms/templates/default/content/login_line.html" width="100%" height="232"></iframe>
</div>