<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="description" content="{$SEO['description']}"/>
        <meta name="keywords" content="{$SEO['keyword']}"/>
        {template "content","header1_inclub"}
    </head>
    <body>
       {template "content","header_gjh"}
          
       <div class="ex_click clear">
           <div class="click_side">
               <div class="jz_time">
                   <span>-330天</span>
               </div>
               <div class="wjhg">
                   <div class="wjhg_nav clear">
                       <div class="wjhg_nav1"></div>
                       <div class="wjhg_nav2"><img src="{IMG_PATH}new1/click_icon_06.jpg" />展会时间</div>
                       <div class="wjhg_nav3"></div>
                   </div>
                   <div class="wjhg_info">
                       <ul>
                           <li>春季：2013年4月15日-5月5日</li>
                           <li>秋季：2013年10月15日-11月4日</li>
                           <li>周期：每年二届</li>
                       </ul>
                   </div>
               </div>
               <!--以上是往届回顾-->
               <div class="cgs">
                   <div class="cgs_nav">
                       <div class="cgs_cur cgs_click"><a href="#">组织</a>架构</div>

                   </div>
                   <div class="wjhg_info">
                       <ul>
                           <li><a target="_blank"  href="http://www.mofcom.gov.cn/"><img src="{IMG_PATH}new/RIGHT_icon_13.gif" />中华人民共和国商务部</a></li>
                           <li><a target="_blank" href="http://www.gd.gov.cn/"><img src="{IMG_PATH}new/RIGHT_icon_13.gif" />广东省人民政府</a></li>
                           <li><a target="_blank" href="http://www.cftc.org.cn/cn/"><img src="{IMG_PATH}new/RIGHT_icon_13.gif" />中国对外贸易中心</a></li>
                           <li><a target="_blank" href="http://www.cantonfair.org.cn/html/cantonfair/cn/about/2012-09/121.shtml"><img src="{IMG_PATH}new/RIGHT_icon_13.gif" />进出口商会/协会</a></li>
                           <li><a target="_blank" href="http://www.cantonfair.org.cn/html/cantonfair/cn/about/2012-09/122.shtml"><img src="{IMG_PATH}new/RIGHT_icon_13.gif" />交易团</a></li>
                       </ul>
                   </div>
               </div>
               <!--以上是采购商情况-->
               <div class="wjhgimg">
                   <div class="wjhg_nav clear">
                       <div class="wjhg_nav1"></div>
                       <div class="wjhg_nav2"><img src="{IMG_PATH}new1/click_icon_06.jpg" />展会图库</div>
                       <div class="wjhg_nav3"><a href="GJHImgList.aspx?LX=3&ZHID=180">更多>></a></div>
                   </div>
                   <div class="wjhgimg_info_g">

                   </div>
               </div>
               <div class="cgs">
                   <div class="ksqbt_nav">
                       <a href="GJHList.aspx?ZHID=180">更多>></a> <span>历届回顾</span>
                   </div>
                   <div class="wjhg_info">
                       <ul>

                       </ul>
                   </div>
               </div>
               <!--以上是可申请资金-->

               <!--以上是组展机构-->

           </div>
           <div class="click_Rside">
               <div class="ex_c_cont clear">
                   <div class="exhi_g">
                       <div class="exhi_nav_g"><img src="{IMG_PATH}new1/click_icon_06.jpg" />展会信息</div>
                       <div class="exhi_info_g">
                           <table width="100%" border="0" bgcolor="#DBDBDB"  align="center" cellpadding="0" cellspacing="1" style="font-family:宋体;font-size:13px;">
                               <caption>&nbsp;
                               </caption>
                               <tr  bgcolor="#FFFFFF">
                                   <td height="60" colspan="2" scope="row" align="center"><font style="font-size:16px; font-weight:bold;">117届中国进出口商品交易会</font></td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td width="19%" height="30" align="center" bgcolor="#F6F6F6">展会区域: </td>
                                   <td width="81%">&nbsp;中国境内</td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td height="30" scope="row" align="center" bgcolor="#F6F6F6">展会地址：</td>
                                   <td>&nbsp;中国广州市海珠区阅江中路380号</td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td height="30" scope="row" align="center" bgcolor="#F6F6F6">展会时间：</td>
                                   <td>&nbsp;2015年04月15 至 2015年05月05</td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td height="30" scope="row" align="center" bgcolor="#F6F6F6">组织方：</td>
                                   <td>&nbsp;</td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td height="30" scope="row" align="center" bgcolor="#F6F6F6">承办方：</td>
                                   <td>&nbsp;</td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td height="30" scope="row" colspan="2" align="left" bgcolor="#F6F6F6">展会简介：</td>
                                   <td >
                                       <br/>
                                   </td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td colspan="2" align="left" bgcolor="white" class="lmnrdetail"  >
                                       <div style=" width:440px; "> &nbsp;&nbsp;
                                           <p>中国进出口商品交易会，又称广交会，创办于1957年春季，每年春秋两季在广州举办，迄今已有53年历史，是中国目前历史最久、层次最高、规模最大、商品种类最全、到会客商最多且分布国别地区最广、成交效果最好、信誉最佳的综合性国际贸易盛会。</p>
                                           <p>广交会出口展区由48个交易团组成，来自全国两万多家资信良好、实力雄厚的外贸公司、生产企业、科研院所、外商投资/独资企业、私营企业参展。</p>
                                           <p>广交会以进出口贸易为主，贸易方式灵活多样，除传统的看样成交外，还举办网上交易会，开展多种形式的经济技术合作与交流，以及商检、保险、运输、广告、咨询等业务活动。来自世界各地的客商云集广州，互通商情，增进友谊。</p>
                                           <p>中国进出口商品交易会展馆<br />
                                               创办年代<br />
                                               1957年春季<br />
                                               展出周期 一年两届<br />
                                               举办时间 第117届广交会<br />
                                               第一期：2015年4月15-19日<br />
                                               第二期：2015年4月23-27日<br />
                                               第三期：2015年5月1日-5日<br />
                                               会期 每期5天<br />
                                               展览地点 中国进出口商品交易会展馆（广州市海珠区阅江中路380号）<br />
                                               &nbsp;</p>&nbsp;</div> 
                                   </td>
                               </tr>
                               <tr  bgcolor="#FFFFFF">
                                   <td scope="row" align="center" height="30" bgcolor="#F6F6F6">附件：</td>
                                   <td>&nbsp;</td>
                               </tr>
                           </table>
                           <a class="baoming"><div class="wycz">我要参展</div></a>

                       </div>
                   </div>
                   <!--以上是展会内容-->
                   <div class="detail_exhi_g">

                       <div class="DT_tjjg_g">
                           <div class="gz_list"><a target="_blank" href="http://hotel.cantonfair.org.cn/cn/index.aspx"><img src="{IMG_PATH}new1/ico_content_bg.png" />酒店预订</a></div>
                           <div class="gz_list"><a target="_blank" href="http://www.cantonfair.org.cn/cn/service/traffic/index.shtml"><img src="{IMG_PATH}new1/ico_content_bg.png" />交通指引</a></div>
                           <div class="gz_list"><a target="_blank" href="http://www.cantonfair.org.cn/cn/exhibitor/exhibition/index.aspx"><img src="{IMG_PATH}new1/ico_content_bg.png" />特装天地</a></div>
                           <div class="gz_list"><a target="_blank" href="http://www.pdc.org.cn/"><img src="{IMG_PATH}new1/ico_content_bg.png" />产品设计与贸易促进中心</a></div>
                           <div class="gz_list"><a target="_blank" href="http://www.cantonfair.org.cn/cn/service/IPP/index.shtml"><img src="{IMG_PATH}new1/ico_content_bg.png" />知识产权保护和贸易纠纷解决</a></div>
                           <div class="gz_list"><a target="_blank" href="http://www.cantonfair.org.cn/cn/ezine/ezine_bulletin.shtml"><img src="{IMG_PATH}new1/ico_content_bg.png" />广交会会刊</a></div>
                           <div class="gz_list"><a target="_blank" href="http://hk.cantonfair.org.cn/cn/"><img src="{IMG_PATH}new1/ico_content_bg.png" />广交会驻香港客商服务中心</a></div>
                           <div class="gz_list"><a target="_blank" href="http://www.cantonfair.org.cn/cn/about/partners.shtml"><img src="{IMG_PATH}new1/ico_content_bg.png" />境外合作伙伴</a></div>

                       </div>
                       <!-- 以上是组织机构 -->
                       <div class="DT_tjjg_g_1">
                           <div class="DT_tjjg_nav_1 clear">
                               <div class="DT_cur DT_cur_check" contentid="tianqi"><a href="#">当前天气</a></div>

                           </div>

                           <div class="DT_tjjg_info hzcg" id="tianqi">
                               <iframe  width="245px"; height="150px;" frameborder="0"  marginheight="0" marginwidth="0" scrolling="no" src="{IMG_PATH}new1/ZHmeather.html"></iframe>
                           </div>

                       </div>
                   </div>

                   <script src="{JS_PATH}new/DJCSTJ.js" type="text/javascript"></script>
                   <script src="{JS_PATH}new/WdatePicker.js" type="text/javascript"></script>
                   <script src="{JS_PATH}new/FormCheck.js" type="text/javascript"></script>
                   <script src="{JS_PATH}new/PostionHelper.js" type="text/javascript"></script>
                   <script src="{JS_PATH}new/StringHelper.js" type="text/javascript"></script>
                   <script src="{JS_PATH}new/getURLparameters.js" type="text/javascript"></script>
                   <script src="{JS_PATH}new/OpenWindow.js" type="text/javascript"></script>
                   <style type="text/css">
                      /* .qwfb_pl{width:992px;margin-top:10px;margin-bottom:10px;}*/
                   .qwfb_pl_person{float:left;width:100%;background:#ededed;margin-left:8px;_margin-left:4px;}
                   .CONT_pl{width:99.4%;background:#ededed;padding:1px 1px;border:1px solid #c9c9c9;}
                   .plk{margin:auto;width:98%;height:119px;margin-top:10px;}
                   .plk textarea{width:97%;height:109px;padding:5px;}
                   .pl_input{margin:auto;width:98%;margin-top:10px;margin-bottom:10px;}
                   .pl_input input{width:160px;height:25px;line-height:25px;color:#4c4c4c;text-indent:5px;}
                   .pl_input .pl_btn img{vertical-align:middle;}
                   .pl_input .pl_btn{float:right;}
                   .detail_pl{margin:auto;width:99.4%;background:#fff;border:1px solid #c9c9c9;padding:1px 1px;border-top:none;}
                   .detail_pl_nav{width:99.4%;height:56px;background:url(../../new1/CONT_new_pl_11.gif) 0px 0px repeat-x;}
                   .new_pl{float:left;width:135px;height:56px;border-right:1px solid #c9c9c9;text-align:center;line-height:56px;font-size:14px;}
                   .new_pl_check{width:135px;height:56px;background:#fff;}
                   .detail_pl_nav span{float:right;margin-right:10px;line-height:56px;}
                   .detail_pl_cont{margin:auto;width:97%;margin-top:10px; }
                   .pl_detail{margin:auto;width:97%;margin-bottom:10px;}
                   .pl_detail span{float:left;}
                   .person_info{float:left;margin-left:10px;width:97%;border:1px solid red;}
                   .person_info p{text-indent:2em;line-height:20px;}
                   .div_dashed{margin:auto;width:97%;height:1px;margin-top:5px;margin-bottom:10px;border-bottom:1px dashed #ccc;}
                   .info_pl{height:25px;line-height:25px;float:right;}
                   .info_pl a{color:#ff0000;margin-right:10px;}
                   </style>
                   <div style="clear:both; height:0px;"></div>
                   <div style="padding-left: 30px; margin-bottom: 8px; margin-top:5px; ">
                       <div class="bshare-custom">
                           <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">
                               分享到</a><a title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                               title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                               title="分享到豆瓣" class="bshare-douban">豆瓣</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
                       <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                       <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                   </div>
                   <div class="qwfb_pl_person">
                       <div class="CONT_pl">
                           <div class="plk">

                               <textarea name="ctl00$ContentPlaceHolder1$PReply1$qwfbplk" id="ctl00_ContentPlaceHolder1_PReply1_qwfbplk" class="qwfbplk">请输入评论内容!</textarea>
                               <input name="ctl00$ContentPlaceHolder1$PReply1$dlyhid" type="text" id="ctl00_ContentPlaceHolder1_PReply1_dlyhid" class="dlyhid" style="display: none;" value="-1" />
                           </div>
                           <div class="pl_input clear">

                               <div class="pl_btnxs1"  style="display:none;">
                                   <a href="#" class="pl_btn clear:after">
                                       <input type="image" name="ctl00$ContentPlaceHolder1$PReply1$ImgDL" id="ctl00_ContentPlaceHolder1_PReply1_ImgDL" src="{IMG_PATH}new1/imgplhf.jpg" style="height:32px;width:108px;border-width:0px;" />
                                   </a>
                               </div>

                               <div class="pl_btnxs2">
                                   <a href="#" class="pl_btn pl_btn1 clear:after">
                                       <img  class="dlimg" src="{IMG_PATH}new1/CONT_pl_07.gif"/>
                                       <input type="image" name="ctl00$ContentPlaceHolder1$PReply1$ImgHF2" id="ctl00_ContentPlaceHolder1_PReply1_ImgHF2" class="dlimgtj" src="{IMG_PATH}new1/CONT_pl_07.gif" style="height:32px;width:108px;border-width:0px;display:none;" />
                                   </a>
                               </div>

                               <div class="pl_btnxs1" style="display:none;">
                                   <table>
                                       <tr>
                                           <td>
                                               <input name="ctl00$ContentPlaceHolder1$PReply1$dlzh" type="text" id="ctl00_ContentPlaceHolder1_PReply1_dlzh" style="width:126px;" class="dlzh" value="请输入用户名" />
                                           </td>
                                           <td>
                                               <input name="ctl00$ContentPlaceHolder1$PReply1$dlmm" type="text" id="ctl00_ContentPlaceHolder1_PReply1_dlmm" style="width:126px;" class="dlmm" value="请输入密码" />
                                           </td>
                                           <td> 
                                               <input name="ctl00$ContentPlaceHolder1$PReply1$yzm" type="text" id="ctl00_ContentPlaceHolder1_PReply1_yzm" style="width:86px;" class="yzm" value="请输入验证码" />
                                           </td>
                                           <td width="70px">
                                               <img  style="margin-top:-12px; margin-left:5px;" src="/Manage/Login/CheckCode/CheckCode.aspx" onclick="this.src = '/Manage/Login/CheckCode/CheckCode.aspx?' + Math.random();" style="height: 24px;cursor: pointer;display:block;float:left;padding-top:8px; >padding-top:12px;" />
                                           </td>
                                           <td> 
                                               <a href="#">注册</a>|<a href="#">忘记密码？</a>
                                           </td>
                                       </tr>
                                   </table>
                               </div>

                           </div>
                       </div>
                       <div class="detail_pl">
                           <div class="detail_pl_nav clear:after">
                               <div class="new_pl new_pl_check" vlnew="detail_pl_cont1">
                                   <a name="zxplfy" href="#">最新评论</a>
                               </div>
                               <div class="new_pl ncheck" vlnew="detail_pl_cont2">
                                   <a name="zrplfy" href="#">最热评论</a>
                               </div>
                               <span>已有0条评论，共0人参与</span>
                           </div>
                           <div class="detail_pl_cont" id="detail_pl_cont1">
                               <iframe id="ZXPL" name="ZXPL"  style="filter: Chroma(Color=white);" width="100%"; height="500px;" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="{IMG_PATH}new1/ZXPL.html 
"></iframe>&nbsp;&nbsp;
                               <input name="ctl00$ContentPlaceHolder1$PReply1$zcvalue" type="text" id="ctl00_ContentPlaceHolder1_PReply1_zcvalue" class="zcvalue" style="display: none;" />
                               <input name="ctl00$ContentPlaceHolder1$PReply1$lyryhid" type="text" id="ctl00_ContentPlaceHolder1_PReply1_lyryhid" class="lyryhid" style="display: none;" />
                               <input name="ctl00$ContentPlaceHolder1$PReply1$hfvalue" type="text" id="ctl00_ContentPlaceHolder1_PReply1_hfvalue" class="hfvalue" style="display: none;" />
                           </div>
                           <div class="detail_pl_cont" id="detail_pl_cont2" style="display: none;">
                               <iframe id="ZRPL" name="ZRPL" style="filter: Chroma(Color=white);" width="100%"; height="500px;" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src=""></iframe>&nbsp;&nbsp;
                           </div>
                       </div>
                   </div>
                   <script type="text/javascript">

                       //显示 登录 提交按钮
                       function xsdl(dlyhid) {
                           $(".dlyhid").val(dlyhid);
                           //        if ($(".dlyhid").val() != "-1" && $(".dlyhid").val() != "") {
                           //            $(".pl_btnxs2").show();
                           //            $(".pl_btnxs1").hide();
                           //        }else {
                           //            $(".pl_btnxs1").show();
                           //            $(".pl_btnxs2").hide();
                           //        }
                       }



                       //登录 提交按钮
                       $(".dlimg").click(function () {
                           if ($(".dlyhid").val() == "-1" || $(".dlyhid").val() == "") {
                               var Button = $(".dlimgtj").attr("id");
                               var yhid = $(".dlyhid").attr("id");
                               window.top.createDIV(window, "/Themes/cdweb/htm/Login.aspx?Controls=" + yhid + "&Button=" + Button, "用户登录", 450, 265, window, "", "", true);
                               return false;
                           } else {
                               $(".dlimgtj").click();
                           }
                           return false;
                       });

                       xsdl($(".dlyhid").val());//默认加载


                       $(".qwfbplk").val("请输入评论内容!");
                       $(".qwfbplk").focusout(function () {
                           if ($(".qwfbplk").val() == "") {
                               $(".qwfbplk").val("请输入评论内容!");
                           }
                       });
                       $(".qwfbplk").focusin(function () {
                           if ($(".qwfbplk").val() == "请输入评论内容!") {
                               $(".qwfbplk").val("");
                           }
                       });

                       $(".dlzh").val("请输入用户名");
                       $(".dlzh").focusout(function () {
                           if ($(".dlzh").val() == "") {
                               $(".dlzh").val("请输入用户名");
                           }
                       });
                       $(".dlzh").focusin(function () {
                           if ($(".dlzh").val() == "请输入用户名") {
                               $(".dlzh").val("");
                           }
                       });

                       $(".yzm").val("请输入验证码");
                       $(".yzm").focusout(function () {
                           if ($(".yzm").val() == "") {
                               $(".yzm").val("请输入验证码");
                           }
                       });
                       $(".yzm").focusin(function () {
                           if ($(".yzm").val() == "请输入验证码") {
                               $(".yzm").val("");
                           }
                       });

                       $(".dlmm").val("请输入密码");
                       $(".dlmm").focusout(function () {
                           if ($(".dlmm").val() == "") {
                               $(".dlmm").val("请输入密码");
                           }
                       });
                       $(".dlmm").focusin(function () {
                           if ($(".dlmm").val() == "请输入密码") {
                               $(".dlmm").val("");
                           }
                       });

                       //控制点击更换下面列表
                       $(".new_pl").click(function () {
                           var topbtli = this;
                           $(".new_pl").each(function () {
                               if (this == topbtli) {
                                   if ($(this).hasClass("ncheck")) {
                                       $(this).removeClass("ncheck");
                                       $(this).addClass("new_pl_check");

                                   }
                               } else {
                                   if ($(this).hasClass("new_pl_check")) {
                                       $(this).removeClass("new_pl_check");
                                       $(this).addClass("ncheck");
                                   }
                               }
                           });

                           $(".detail_pl_cont").hide();
                           if ($("#ZRPL").attr("src") == "") {
                               $("#ZRPL").attr("src", "{IMG_PATH}new1/ZXPL.html")
                           }
                           $("#" + $(topbtli).attr("vlnew")).show();
                           return false;
                       });
                       $(".pl_btn1").click(function () {
                           if ($(".qwfbplk").val() == "" || $(".qwfbplk").val() == "请输入评论内容!") {
                               return false;
                           }
                       });



                       //                    //改变支持的数目
                       //                    $(".zcnum").click(function () {
                       //                        var topbtli = this;
                       //                        $(".zcnum").each(function () {
                       //                            if (this == topbtli) {
                       //                                $(".zcvalue").val($(this).attr("zcid"));
                       //                                $(".nobtnzc").click();
                       //                            }
                       //                        });
                       //                    });

                       //                    //显示隐藏 回复框
                       //                    $(".zxhf").click(function () {
                       //                        var topbtli = this;
                       //                        $(".TW_hd").hide();
                       //                        $("#" + $(topbtli).attr("zxhfid")).show();
                       //                        return false;
                       //                    });
                       //                    //隐藏取消回复
                       //                    $(".hfclose").click(function () {
                       //                        $(".TW_hd").hide();
                       //                    });
                       //                    $(".srhfnr").val("请输入回复内容!");
                       //                    $(".srhfnr").focusout(function () {
                       //                        if ($(".srhfnr").val() == "") {
                       //                            $(".srhfnr").val("请输入回复内容!");
                       //                        }
                       //                    });
                       //                    $(".srhfnr").focusin(function () {
                       //                        if ($(".srhfnr").val() == "请输入回复内容!") {
                       //                            $(".srhfnr").val("");
                       //                        }
                       //                    });
                       //                    //验证回复是否为空 为空则不能完成操作
                       //                    $(".hftj").click(function () {
                       //                        if ($(".srhfnr").val() == "" || $(".srhfnr").val() == "请输入回复内容!") {
                       //                            return false;
                       //                        } else {
                       //                            var topbtli = this;
                       //                            $(".hftj").each(function () {
                       //                                if (this == topbtli) {
                       //                                    $(".lyryhid").val($(".lyrid").val());
                       //                                    $(".hfvalue").val($(".srhfnr").val());
                       //                                    $(".hfbtnxx").click();
                       //                                }
                       //                            });
                       //                        }
                       //                    });

                   </script>

               </div>

           </div>
       </div>
       <script language="javascript" type="text/javascript">
           $(".baoming").click(function () {
               window.top.createDIV(window, "/ZHZL/Baoming.aspx?PKID=180", "展会报名", 750, 600);
           });
       </script>


       <!--以上是中间内容部分-->

       
       {template "content","foot1"}
    </body>
</html>
