<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="description" content="{$SEO['description']}"/>
        <meta name="keywords" content="{$SEO['keyword']}"/>
        {template "content","header1_inclub"}
        <!--[if !IE]><!--<script>  
        if (/*@cc_on!@*/false) {  
            document.documentElement.className+=' ie10';  
        }  
        </script><!--<![endif]-->

        <link href="{CSS_PATH}new/CKTS.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {template "content","header3"}
         
        <script src="{JS_PATH}new/CDPTPF.js" type="text/javascript"></script>
        <div class="maincont">
            <div class="kong">
            </div>
            <div class="main_1_2_3">
                <a target="_blank" href="/Manage/MainFrame1/index.aspx">
                    <img src="{IMG_PATH}new1/temp_banner2.jpg" /></a>
            </div>
            <div class="main_1_2 clear">
                <div class="sideimg">
                    <script language="javascript" type="text/javascript">
                            //注：图片只能为长宽大于等于360*257
                            var pic_width = 299;
                            var pic_height = 227;
                            var text_height = 30;
                            var texts = '我市获批成为中西部首家离境退税城市|出口退税专题入口';  var pics='/FileUpLoad/Other/201601/7c5ecc53-c9ca-4342-b6c1-e100725feedb.jpg|/FileUpLoad/Other/201303/927713f3-47ba-4795-8926-3e7725122e79.jpg'; var links='/LMNR/LMNRDetail.aspx?PKID=33729|http://www.tpsp.com.cn/WZZT/CKTSZT/Index.aspx';
                    </script>
                    <script src="{JS_PATH}new/FlashPic.js" type="text/javascript"></script>
                </div>
                <div class="sidetext">
                    <div class="main_1_nav clear">
                        <div class="AT_nav_left clear">
                            <span class="AT_current AT_cur_check" contentid="sidetext_info1">通知公告</span> 
                            <span class="AT_current NO_cur_check" contentid="sidetext_info2">相关下载</span>
                        </div>
                        <div class="AT_nav_right">
                            <a target="_blank" class="gdclass" href="/LMNR/LMNRList.aspx?LMID=811">更多>></a></div>
                    </div>
                    <div class="sidetext_info" id="sidetext_info1">
                        <ul>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33873"target="_blank" >&middot;成都外贸公共服务平台关于出口退税预审系统维护的...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33872"target="_blank" >&middot;国家税务总局关于发布 出口退税率文库2016A...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33836"target="_blank" >&middot;最新出口退税申报系统补丁sp2升级通知</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33807"target="_blank" >&middot;最新出口退税申报系统补丁sp1升级通知</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33730"target="_blank" >&middot;最新出口退税申报系统升级通知（生产企业出口退税...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33677"target="_blank" >&middot;成都市国家税务局关于金税三期工程省级应用集中优...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33284"target="_blank" >&middot;最新出口退税申报系统升级通知（生产企业14.2...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33073"target="_blank" >&middot;出口退税申报系统升级通知（生产企业14.10版...</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidetext_info" id="sidetext_info2" style="display: none;">
                        <ul>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=32434"target="_blank" >&middot;企业年报（海关）报送指南图示</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=31950"target="_blank" >&middot;出口企业利用“电子口岸”海关数据 进行出口退（...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=31617"target="_blank" >&middot;外贸企业申报流程</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=31605"target="_blank" >&middot;生产企业申报流程</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=31599"target="_blank" >&middot;出口退税申报系统V14.0与V16.0新旧版功...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=29209"target="_blank" >&middot;生产企业网络预审流程</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=29208"target="_blank" >&middot;外贸企业网络预审流程</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=26170"target="_blank" >&middot;金融机构代码对照表</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <script type="text/javascript" language="javascript">
                    //控制点击更换下面列表
                    $(".AT_current").click(function () {
                        var topbtli = this;
                        $(".AT_current").each(function () {
                                if (this == topbtli) {
                                    if ($(this).hasClass("NO_cur_check")) {
                                        $(this).removeClass("NO_cur_check");
                                        $(this).addClass("AT_cur_check");

                                    }
                                } else {
                                    if ($(this).hasClass("AT_cur_check")) {
                                        $(this).removeClass("AT_cur_check");
                                        $(this).addClass("NO_cur_check");
                                    }
                                }
                            });
                            $(".sidetext_info").hide();
                            if ($(topbtli).attr("contentid") == "sidetext_info1") {
                                $(".gdclass").attr("href", "/LMNR/LMNRList.aspx?LMID=811");
                            } else if ($(topbtli).attr("contentid") == "sidetext_info2") {
                                $(".gdclass").attr("href", "/LMNR/LMNRList.aspx?LMID=812");
                            }
                            $("#" + $(topbtli).attr("contentid")).show();
                            return false;
                        });
                </script>
                <div class="sidelink">
                    <a href="#">
                        <img src="{IMG_PATH}new1/tspt_dh.jpg" /></a> <a href="#" class="tpsp_jl">
                        <img src="{IMG_PATH}new1/tspt_wt.jpg" /></a> <a href="#">
                        <img src="{IMG_PATH}new1/tspt_lj.jpg" /></a>
                </div>
            </div>
            <!--以上是 main_1-->
            <div class="main_1 clear">
                <div class="AT_hl">
                    <div class="AT_hl_nav">
                        <a target="_blank" href="/WMZD/WMZDList.aspx">更多>></a>常见问题
                    </div>
                    <div class="AT_hl_cont">
                        <ul>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=184&LMBH=0101"target="_blank" >&middot;进口机电产品办事流程？</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=1&LMBH=0301"target="_blank" >&middot;录入进料加工手册中有多个复出口商品...</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=712&LMBH=0302"target="_blank" >&middot;三证合一后，原纳税人识别号开具的发...</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=711&LMBH=0302"target="_blank" >&middot;被关注商品的界限有哪些</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=710&LMBH=0301"target="_blank" >&middot;老企业变更经营范围后税号变为社会信...</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=709&LMBH=0301"target="_blank" >&middot;打印到excel提示“ole错误”...</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=708&LMBH=0301"target="_blank" >&middot;出口货物报关单出口金额打错了，如何...</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=707&LMBH=0301"target="_blank" >&middot;如何将申报系统的报表数据导出到ex...</a></li>
                            <li><a href="/WMZD/WMZDDetail.aspx?PKID=706&LMBH=0301"target="_blank" >&middot;生产企业申报系统用户提出找不到生成...</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ckts_zcfg">
                    <div class="AT_m2_nav">
                        <a target="_blank" href="/ZCFG/ZCFGList.aspx">更多>></a>政策法规
                    </div>
                    <div class="ckts_zcfg_c">
                        <h5><a  href="/ZCFG/ZCFGDetail.aspx?PKID=672" target="_blank">海关总署公告2015年第70号（关于启用海关行政审批网上办理平台的公告...</a></h5>
                        <p> 为深化海关行政审批制度改革，规范行政审批行为，改进行政审批工作，海关总署决定启用海关行政审批网上办理平台，推行行政审批事项网上办理。现就相关事宜公告如下：一、海关行政审批网上办理平台具备办理、录入、查询、统计等功能，地址为：h...
                            <a  href="/ZCFG/ZCFGDetail.aspx?PKID=672" target="_blank">[详细]</a>
                        </p>
                        <ul>
                            <li><span>2015-12-23</span>
                                <a  href="ZCFGDetail.aspx?PKID=667" target="_blank">&middot;国家税务总局关于取消销货退回消费税退税等两项消费税审批事项后有关管理问...</a>
                            </li>
                            <li><span>2015-12-22</span><a  href="ZCFGDetail.aspx?PKID=668" target="_blank">&middot;国家税务总局关于发布影视等出口服务编码及2015A版出口退税率文库（升...</a></li>
                            <li><span>2015-12-21</span><a  href="ZCFGDetail.aspx?PKID=671" target="_blank">&middot;中国人民银行 国家外汇管理局公告〔2015〕第40号</a></li>
                            <li><span>2015-12-17</span><a  href="ZCFGDetail.aspx?PKID=669" target="_blank">&middot;国家税务总局关于发布《市场采购贸易方式出口货物免税管理办法（试行）》的...</a></li>
                            <li><span>2015-12-14</span><a  href="ZCFGDetail.aspx?PKID=670" target="_blank">&middot;国家税务总局关于《适用增值税零税率应税服务退（免）税管理办法》的补充公告</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="main_1 clear" style="margin-top: -10px;">
                <div class="AT_hl">
                    <div class="AT_hl_nav">
                        <a target="_blank" href="/LMNR/LMNRList.aspx?LMID=814">更多>></a>退税资讯
                    </div>
                    <div class="AT_hl_cont">
                        <a href="/LMNR/LMNRDetail.aspx?PKID=33729"target="_blank" ><img src="{IMG_PATH}new1/temp_14.jpg" /></a>
                        <ul>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33531"target="_blank" >&middot;如何看待新三板“1分钱”交易的涉税...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33530"target="_blank" >&middot;商务部：跨境电商再临政策扶持</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33529"target="_blank" >&middot;山东首笔跨境电商出口退税在济成功申报</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33527"target="_blank" >&middot;积极参与和推动全球经济治理</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33417"target="_blank" >&middot;于智广：落实税收保障条例 促进税收...</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33416"target="_blank" >&middot;赵恒：用“数据文化”创造新的管理思维</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33415"target="_blank" >&middot;佟伟：让国地税合作在基层落地生根</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33414"target="_blank" >&middot;为出口退税工作提效加速</a>
                            </li>
                            <li>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33413"target="_blank" >&middot;东盟国家要求中国实施钢材出口限制和...</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ckts_zcfg">
                    <div class="AT_m2_nav">
                        <a target="_blank" href="/LMNR/LMNRList.aspx?LMID=813">更多>></a>退税知识
                    </div>
                    <div class="ckts_zcfg_c">
                        <h5><a href="/LMNR/LMNRDetail.aspx?PKID=33433"target="_blank" >中国电子口岸入网资格认定</a></h5>
                        <p>    根据《国家税务总局、海关总署关于正式启用“口岸电子执法系统”出口退税子系统的通知》的有关规定，自2003年1月1日起在...
                            <a href="/LMNR/LMNRDetail.aspx?PKID=33433" target="_blank" >[详细]</a>
                        </p>
                        <ul>
                            <li><span>2015-11-18</span>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33431"target="_blank" >&middot;新办出口货物退（免）税认定</a>
                            </li>
                            <li><span>2015-11-18</span>
                                <a href="/LMNR/LMNRDetail.aspx?PKID=33429"target="_blank" >&middot;设立认定的范围、作用</a>
                            </li>
                            <li><span>2015-11-18</span><a href="/LMNR/LMNRDetail.aspx?PKID=33428"target="_blank" >&middot;出口退税认定</a></li>
                            <li><span>2015-11-18</span><a href="/LMNR/LMNRDetail.aspx?PKID=33426"target="_blank" >&middot;生产企业免抵退税的基本概念</a></li>
                            <li><span>2015-11-18</span><a href="/LMNR/LMNRDetail.aspx?PKID=33424"target="_blank" >&middot;外贸企业免退税的基本概念</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--以上是中间内容部分-->

        {template "content","foot1"}
    </body>
</html>
