<form name="aspnetForm" method="post" action="ZCFGIndex.aspx" id="aspnetForm">
    <div>
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTQ2OTk5NTc4NGRkREbyNDNWSZF7sICF5/OBYx09ZUMrKOKbV/gt6K9lakg=" />
    </div>

    <div>

        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALBqMTlCAL1yOG9DQLI0M+DBQKj9ZCLBuMqaXt2IUd7ewB1/uKMqPrGEeMwkQPk2+xgluEnt9PJ" />
    </div>
    <div class="box">
        <div class="top">
            <div class="top_1 clear">
                <div style="float:left;"><a href="/Index.aspx" style="display:inline-block;*display:inline;*zoom:1;width:500px;height:50px;margin-top:20px;"></a></div>
                <div class="top_a">
                    <input type="submit" name="ctl00$btn_exit" value="Button" id="ctl00_btn_exit" class="btn_exit" style="display:none;" />

                    <div class="login_next">

                    </div>
                    <script language="javascript" type="text/javascript">
                        $(".log_out").click(function () {
                            if (confirm("您确定要退出登录吗？")) {
                                $(".btn_exit").click();
                            }
                        });
                    </script>
                    <div class="clear">
                    </div>
                   {template "content","reg"}
                    <div class="date">
                               
                  <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=6" width="130" height="80" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>      
             
                                  </div>
                </div>
            </div>
            <div class="top_menu">
                <ul class="menu">
                    <li class="menu_1"><a target="_blank" href="/">
                            <img src="{IMG_PATH}new/menu_1_07.jpg" /></a>
                    </li>
                    <li class="menu_2"><a target="_blank"  href="#">
                            <img src="{IMG_PATH}new/menu_2_07.jpg" /></a>
                    </li>
                    <li class="menu_3"><a target="_blank"  href="{$CATEGORYS[3][url]}">
                            <img src="{IMG_PATH}new/menu_3_07.jpg" /></a>
                    </li>
                    <li class="menu_4"><a target="_blank"  href="{$CATEGORYS[4][url]}">
                            <img src="{IMG_PATH}new/menu_4_07.jpg" /></a>
                    </li>
                    <li class="menu_5"><a target="_blank"  href="{$CATEGORYS[5][url]}">
                            <img src="{IMG_PATH}new/menu_5_07.jpg" /></a>
                    </li>
                    <li class="menu_6"><a target="_blank"  href="{$CATEGORYS[6][url]}">
                            <img src="{IMG_PATH}new/menu_6_07.jpg" /></a>
                    </li>
                    <li class="menu_7"><a target="_blank"  href="{$CATEGORYS[7][url]}">
                            <img src="{IMG_PATH}new/menu_7_07.jpg" /></a>
                    </li>
                    <li class="menu_8"><a target="_blank"  href="#">
                            <img src="{IMG_PATH}new/menu_8_07.jpg" /></a>
                    </li>
                </ul>
            </div>

            <!--以上是头部-->
       

  