<div class="ZH_top_menu">
                <div class="ZH_menu">
                    <ul>
                        <li class="ZH_wz ZH_check"><a href="{$CATEGORYS[3][url]}">展会展览首页</a></li>
                        
                        <li class="ZH_fg"></li>
                        <li class="ZH_wz "><a href="{$CATEGORYS[9][url]}">全部展会</a></li>
                        
                        <li class="ZH_fg"></li>
                        <li class="ZH_wz"><a href="{$CATEGORYS[10][url]}">展会资讯</a></li>
                        
                        <li class="ZH_fg"></li>
                        <li class="ZH_wz"><a href="{$CATEGORYS[11][url]}">参展补贴</a></li>
                        
                        <li class="ZH_fg"></li>
                        <li class="ZH_wz"><a href="{$CATEGORYS[37][url]}">广交会</a></li>
                        
                        <li class="ZH_fg"></li>
                        <li class="ZH_wz"><a href="{$CATEGORYS[13][url]}">推荐机构</a></li>
                        
                    </ul>
                    <div class="clear"></div>
                </div> 
            </div>
