<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="description" content="{$SEO['description']}" />
        <meta name="keywords" content="{$SEO['keyword']}" />
        
        {template "content","header_inclub"}
         <link href="{CSS_PATH}new/law.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         {template "content","header"}
          </div>
         <div class="mid">
             <div class="ui_layout_right list_width">
                 <div class="site">
                     <div class="site_img">
                     </div>
                     <div class="site_write">
                         您的位置：<a target="_blank" href="/Index.aspx">频道首页</a> >

                         <a target="_blank" href="/LMNR/LMNRList.aspx?LMID=810">
                             出口退税</a> >
                         通知公告</div>
                     <input name="ctl00$ContentPlaceHolder1$dlyhid" type="text" id="ctl00_ContentPlaceHolder1_dlyhid" style="display: none;" class="dlyhid" value="-1" />
                     <div class="clear">
                     </div>
                 </div>
                 <div class="ui_list_zcfg">
                     <ul class="LIST_cont_law">
                         <li><span>2016-02-17</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33873"><img src="{IMG_PATH}new1/icon_1_07.gif" />成都外贸公共服务平台关于出口退税预审系统维护的公告</a>
                         </li>
                         <li><span>2016-02-15</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33872"><img src="{IMG_PATH}new1/icon_1_07.gif" />国家税务总局关于发布 出口退税率文库2016A版的通知</a>
                         </li>
                         
                         <li><span>2016-01-25</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33836"><img src="{IMG_PATH}new1/icon_1_07.gif" />最新出口退税申报系统补丁sp2升级通知</a>
                         </li>
                         
                         <li><span>2016-01-18</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33807"><img src="{IMG_PATH}new1/icon_1_07.gif" />最新出口退税申报系统补丁sp1升级通知</a>
                         </li>
                         
                         <li><span>2016-01-04</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33730"><img src="{IMG_PATH}new1/icon_1_07.gif" />最新出口退税申报系统升级通知（生产企业出口退税申报系统V15.0版、外...</a>
                         </li>
                         
                         <li><span>2015-12-29</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33677"><img src="{IMG_PATH}new1/icon_1_07.gif" />成都市国家税务局关于金税三期工程省级应用集中优化版切换期间暂停出口退税...</a>
                         </li>
                         
                         <li><span>2015-11-03</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33284"><img src="{IMG_PATH}new1/icon_1_07.gif" />最新出口退税申报系统升级通知（生产企业14.20版，外贸企业16.20...</a>
                         </li>
                         
                         <li><span>2015-09-25</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=33073"><img src="{IMG_PATH}new1/icon_1_07.gif" />出口退税申报系统升级通知（生产企业14.10版，外贸企业16.10版）</a>
                         </li>
                         
                         <li><span>2015-08-26</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=32832"><img src="{IMG_PATH}new1/icon_1_07.gif" />四川省商务厅　四川省国家税务局 关于加强部门协作促进外贸发展的通知</a>
                         </li>
                         
                         <li><span>2015-08-19</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=32758"><img src="{IMG_PATH}new1/icon_1_07.gif" />国家税务总局 关于贯彻落实《国务院办公厅关于促进进出口稳定增长的若干意...</a>
                         </li>
                         
                         <li><span>2015-07-01</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=32165"><img src="{IMG_PATH}new1/icon_1_07.gif" />国家税务总局关于逾期未申报的出口 退（免）税可延期申报的公告     ...</a>
                         </li>
                         
                         <li><span>2015-05-14</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31619"><img src="{IMG_PATH}new1/icon_1_07.gif" />国家税务总局关于印发《全国税务机关出口退（免）税管理工作规范（1.0版...</a>
                         </li>
                         
                         <li><span>2015-05-14</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31618"><img src="{IMG_PATH}new1/icon_1_07.gif" />国家税务总局关于发布《出口退（免）税企业分类管理办法》的公告（国家税务...</a>
                         </li>
                         
                         <li><span>2015-05-14</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31616"><img src="{IMG_PATH}new1/icon_1_07.gif" />通知</a>
                         </li>
                         
                         <li><span>2015-05-12</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31574"><img src="{IMG_PATH}new1/icon_1_07.gif" />生产企业出口退税申报系统V14.0增量补丁升级通知</a>
                         </li>
                         
                         <li><span>2015-05-11</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31570"><img src="{IMG_PATH}new1/icon_1_07.gif" />国家税务总局关于出口企业申报出口退（免）税免予提供纸质出口货物报关单的...</a>
                         </li>
                         
                         <li><span>2015-05-11</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31569"><img src="{IMG_PATH}new1/icon_1_07.gif" />国家税务总局关于出口退（免）税有关问题的公告2015年第29号</a>
                         </li>
                         
                         <li><span>2015-05-06</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31522"><img src="{IMG_PATH}new1/icon_1_07.gif" />最新出口退税申报系统升级通知</a>
                         </li>
                         
                         <li><span>2015-04-17</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31310"><img src="{IMG_PATH}new1/icon_1_07.gif" />关于生产企业申报系统13.0SP2和外贸企业申报系统15.0sp2兼容...</a>
                         </li>
                         
                         <li><span>2015-04-07</span>
                             <a target="_blank" href="/LMNR/LMNRDetail.aspx?PKID=31178"><img src="{IMG_PATH}new1/icon_1_07.gif" />关于做好2015年度出口货物劳务退（免）税申报有关事项的通知（川国税进...</a>
                         </li>
                         
                     </ul>
                     <div class="link_more">
                         <div class="page" style="text-align:center;height:25px; line-height:25px; text-indent:10px;">共 <span class="a05">71</span> 条信息&nbsp;&nbsp;&nbsp;&nbsp;</div>
                         <div class="pagenum">
                             <a id="lbtnFirst" class="lbtnFirst" disabled="" href="#"  style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px">首页
                             </a>
                             <a id="lbtnbefore" class="lbtnbefore" disabled="" href="#"  style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px;">上一页
                             </a>
                             <a id="num1" class="numym" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 5px;">1
                             </a>
                             <a id="num2" class="numym" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 5px;">2
                             </a>
                             <a id="num3" class="numym" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 5px;">3
                             </a>
                             <a id="lbtnNext" class="lbtnNext" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px;">下一页
                             </a>
                             <a id="lbtnLast" class="lbtnLast" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px;">尾页
                             </a>
                             <span class="normal">共【<span id="lbCount" class="a05 lbCount">4</span>页】</span>
                             <span class="normal">当前第 <input style="width: 35px; height: 20px;" id="txtIndex" class="txtIndex inputSZ" value="1" type="text">页
                                 <input id="tbxCurrent" value="1" type="hidden">
                                 <input style="height: 23px; padding-bottom: 2px; padding-left:10px; padding-right:10px; margin-left:5px" class="btnGo" value="Go" type="button" >
                             </span>
                             <input id="txtPath" class="txtPath" value="http://www.tpsp.com.cn:80/LMNR/LMNRList.aspx?LMID=811&pageindex=" type="hidden">
                         </div>
                         <script src="{JS_PATH}new/QTPager.js" type="text/javascript"></script>
                     </div>
                 </div>
             </div>
             <!--以上是列表-->

             <div class="ui_layout_left">
                 <div class="ui_lay_zccx">
                     <div class="ui_zccx_nav">
                     </div>
                     <div class="ui_lay_cont">
                         <div class="ui_check">
                         </div>
                         <div class="formcont">
                             <div>
                                 <label for="title">
                                     标题：</label><input name="ctl00$ContentPlaceHolder1$lmbt" type="text" id="ctl00_ContentPlaceHolder1_lmbt" class="lmbt" /></div>
                             <div>
                                 <label for="title">
                                     关键字：</label><input name="ctl00$ContentPlaceHolder1$gjz" type="text" id="ctl00_ContentPlaceHolder1_gjz" class="gjz" /></div>
                             <div class="btn">
                                 <input class="btnzccx_2" type="button" /></div>
                         </div>
                     </div>
                     <script type="text/javascript">
                         $(".btnzccx_2").click(function () {
                             window.location = "LMNRList.aspx?LMID=811&BT=" + encodeURIComponent($(".lmbt").val()) + "&SSNR=" + encodeURIComponent($(".gjz").val());
                         });
                         $(document).keydown(function (e) {
                             var ev = document.all ? window.event : e;
                             if (ev.keyCode == 13) {
                                 window.location = "LMNRList.aspx?LMID=811&BT=" + encodeURIComponent($(".lmbt").val()) + "&SSNR=" + encodeURIComponent($(".gjz").val());
                             }
                         });
                         //先判断是否登录 再进行跳转报名
                         $(".zxxxbm").click(function () {
                             if ($(".dlyhid").val() == "-1" || $(".dlyhid").val() == "") {
                                 var Button = $(this).attr("id");
                                 var yhid = $(".dlyhid").attr("id");
                                 window.top.createDIV(window, "/Themes/cdweb/htm/Login.aspx?Controls=" + yhid + "&Button=" + Button, "用户登录", 450, 265, window, "", "", true);
                                 return false;
                             } else {
                                 window.location = "/LMNR/ZXBM.aspx?TableName=WZ_LMNR&PKID=" + $(this).attr("zxxxbmid") + "&YHID=" + $(".dlyhid").val();
                             }
                             return false;
                         });
                     </script>
                 </div>
                 <!--以上是政策查询-->
                 <div class="ui_import">
                 </div>
                 <div class="ui_import ui_import_ie7">
                 </div>

             </div>
             <div class="clear">
             </div>
         </div>

         {template "content","footer"}
    </body>
</html>
