<!DOCTYPE html>
<html>
    <head>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="description" content="{$SEO['description']}"/>
        <meta name="keywords" content="{$SEO['keyword']}"/>
        {template "content","header1_inclub"}
    </head>
    <body>
       {template "content","header1"}
       
       <div class="maincont">
           <div class="kong"></div>
           <div class="cont_2_sj">
               <div class="LEFT_ct2">
                   <div class="ZH_area">
                       <div class="ZH_area_nav">
                           <div class="nav1 MID_current" style="width:500px">
                               境外展会
                               &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:Red; font-size:12px">
                                   [工业、机械、加工]
                               </span></div>
                           <div class="clear"></div>
                       </div>
                       <div class="ZH_area_cont">
                           <ul>
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=1071" target="_blank">
                                       <span class="type">[加拿大]</span><span class="zh_xx">2015加拿大国际食品展暨北美...</span>
                                   </a>
                                   <span>[2015-04]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=1069" target="_blank">
                                       <span class="type">[德国]</span><span class="zh_xx">2015欧洲精细化工展览会</span>
                                   </a>
                                   <span>[2015-06]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=1066" target="_blank">
                                       <span class="type">[印度尼西亚雅...]</span>
                                       <span class="zh_xx">2015中国四川商品（印尼）展...</span>
                                   </a>
                                   <span>[2015-05]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=1062" target="_blank">
                                       <span class="type">[布尔诺]</span>
                                       <span class="zh_xx">第56届国际工程博览会</span>
                                   </a>
                                   <span>[2014-09]</span>[已结束]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=999" target="_blank">
                                       <span class="type">[缅甸|仰光]</span><span class="zh_xx">MMT 2014 缅甸国际工业...</span>
                                   </a>
                                   <span>[2014-02]</span>[已结束]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=1000" target="_blank">
                                       <span class="type">[俄罗斯|莫斯科]</span><span class="zh_xx">2014年俄罗斯国际建筑及工程...</span>
                                   </a>
                                   <span>[2014-06]</span>[已结束]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=935" target="_blank">
                                       <span class="type">[澳大利亚澳大...]</span><span class="zh_xx">2014年澳大利亚国际食品机械...</span>
                                   </a>
                                   <span>[2014-06]</span>[已结束]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=934" target="_blank">
                                       <span class="type">[越南河内讲武]</span><span class="zh_xx">2014中国-东盟（越南）发电...</span>
                                   </a>
                                   <span>[2014-04]</span>[已结束]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=511" target="_blank">
                                       <span class="type">[印度]</span><span class="zh_xx">2013年印度线圈、绝缘材料及...</span>
                                   </a>
                                   <span>[2013-11]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=510" target="_blank">
                                       <span class="type">[印度]</span><span class="zh_xx">2013第7届印度国际工程机械...</span>
                                   </a>
                                   <span>[2013-11]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=509" target="_blank">
                                       <span class="type">[法国]</span><span class="zh_xx">2013年法国金属板材线圈管道...</span>
                                   </a>
                                   <span>[2013-11]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=508" target="_blank">
                                       <span class="type">[印度]</span><span class="zh_xx">2013第9届印度孟买国际塑料...</span>
                                   </a>
                                   <span>[2013-12]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=507" target="_blank">
                                       <span class="type">[德国]</span><span class="zh_xx">2014年德国国际生产工艺博览会</span>
                                   </a>
                                   <span>[2014-01]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=339" target="_blank">
                                       <span class="type">[印度]</span><span class="zh_xx">2013年第七届印度国际工程机...</span>
                                   </a>
                                   <span>[2013-11]</span>[未组织]
                               </li>
                               
                               <li><font class="word_color">&middot;</font>
                                   <a class="zxzh" href="ZHZLDetail.aspx?PKID=338" target="_blank">
                                       <span class="type">[韩国]</span><span class="zh_xx">2014年韩国国际工程机械展</span>
                                   </a>
                                   <span>[2014-09]</span>[未组织]
                               </li>
                               
                           </ul>
                       </div>
                       <div>
                           <div class="page" style="text-align:center;height:25px; line-height:25px; text-indent:10px;">共 <span class="a05">23</span> 条信息&nbsp;&nbsp;&nbsp;&nbsp;</div>
                           <div class="pagenum">
                               <a id="lbtnFirst" class="lbtnFirst" disabled="" href="#"  style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px">首页
                               </a>
                               
                               <a id="lbtnbefore" class="lbtnbefore" disabled="" href="#"  style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px;">上一页
                               </a>
                               
                               <a id="num1" class="numym" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 5px;">1
                               </a>
                               
                               <a id="num2" class="numym" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 5px;">2
                               </a>
                               
                               <a id="num3" class="numym" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 5px;">3
                               </a>
                               
                               <a id="lbtnNext" class="lbtnNext" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px;">下一页
                               </a>
                               
                               <a id="lbtnLast" class="lbtnLast" href="#" style="border: 1px solid #C4C4C4;color: #00349A;display: inline;float: left;font-size: 12px;font-weight: 500;line-height: 24px;margin-right: 5px;padding:0 2px;">尾页
                               </a>
                               <span class="normal">共【<span id="lbCount" class="a05 lbCount">2</span>页】</span>
                               <span class="normal">当前第 <input style="width: 35px; height: 20px;" id="txtIndex" class="txtIndex inputSZ" value="1" type="text">页
                                   <input id="tbxCurrent" value="1" type="hidden">
                                   <input style="height: 23px; padding-bottom: 2px; padding-left:10px; padding-right:10px; margin-left:5px" class="btnGo" value="Go" type="button" >
                               </span>
                               <input id="txtPath" class="txtPath" value="http://www.tpsp.com.cn:80/ZHZL/ZHZLList.aspx?SFJW=1&ZHHY=1&pageindex=" type="hidden">
                           </div>
                           <script src="{JS_PATH}/new/QTPager.js" type="text/javascript"></script>
                       </div>
                   </div>

               </div>
               <div class="RIGHT_ct2">
                   <div class="ZH_cx_list">
                       <div class="RED">
                           <div class="kong"></div>
                           <div class="JZ_polling">
                               <label>展会名称:</label><input name="ctl00$ContentPlaceHolder1$zhname" type="text" id="ctl00_ContentPlaceHolder1_zhname" class="zhname" />
                           </div>
                           <div class="JZ_polling">
                               <label>展会行业:</label> <select name="ctl00$ContentPlaceHolder1$ddlHY" id="ctl00_ContentPlaceHolder1_ddlHY" class="ddlHY" style="width:25%;">
                                   <option value="-1">-所有-</option>
                                   <option selected="selected" value="1">工业、机械、加工</option>
                                   <option value="2">汽车、交通工具</option>
                                   <option value="3">IT设备、数码、软件</option>
                                   <option value="4">通信、通讯、电子</option>
                                   <option value="5">海洋、航空、航天</option>
                                   <option value="6">化工、能源、环保</option>
                                   <option value="7">建筑、装潢、五金</option>
                                   <option value="8">家居、家电、日用品</option>
                                   <option value="9">服饰、皮革、纺织</option>
                                   <option value="10">玩具、礼品、工艺品</option>
                                   <option value="11">生物、医药、保健</option>
                                   <option value="12">旅游、酒店、餐饮</option>
                                   <option value="13">食品、饮料、酒</option>
                                   <option value="14">首饰、珠宝、美容</option>
                                   <option value="15">影视、娱乐、体育</option>
                                   <option value="16">媒体、广告、出版</option>
                                   <option value="17">印刷、包装、纸业</option>
                                   <option value="18">运输、物流、仓储</option>
                                   <option value="19">金融、保险、审计</option>
                                   <option value="20">投资、连锁、加盟</option>
                                   <option value="21">加工、贸易、进出口</option>
                                   <option value="22">办公、文教、艺术</option>
                                   <option value="23">农、林、牧、渔</option>
                                   <option value="24">公共、安防、智能</option>
                                   <option value="25">综合、跨行业类</option>
                                   <option value="26">其他行业</option>

                               </select>
                           </div>
                           <div class="MH_polling">
                               <label>展会地区:</label>
                               <div class="polling_2">
                                   <input type="radio" value="1" name="item"  checked="true" />中国境内
                                   <input type="radio" value="2" name="item" />亚洲其他
                                   <input type="radio" value="3" name="item" />非洲
                                   <input type="radio" value="4" name="item" />欧洲<br/>
                                   <input type="radio" value="5" name="item" />美洲
                                   <input type="radio" value="6" name="item" />大洋洲

                               </div> 
                               <div class="clear"></div>
                           </div>
                           <div class="MH_polling">
                               <label>展会时间:</label>
                               从<input name="ctl00$ContentPlaceHolder1$txtZHKSRQ" type="text" id="ctl00_ContentPlaceHolder1_txtZHKSRQ" style=" width:88px" onfocus="WdatePicker()" class="txtZHKSRQ" />
                               到<input name="ctl00$ContentPlaceHolder1$txtZHJSRQ" type="text" id="ctl00_ContentPlaceHolder1_txtZHJSRQ" style=" width:88px" onfocus="WdatePicker()" class="txtZHJSRQ" />
                           </div>
                           <div class="polling_but"> 
                               <a class="search" target="_blank"><img src="{IMG_PATH}new/ct2_but_18.gif"  /></a>
                           </div>
                       </div>
                   </div>
                   <script language="javascript" type="text/javascript">
                       $(".search").click(function () {
                           window.location = "ZHZLList.aspx?ZHMC=" + encodeURIComponent($(".zhname").val()) + "&ZHDQ=" + $("input[@type=radio][name=item][checked]").val() + "&ZHKSSJ=" + encodeURIComponent($(".txtZHKSRQ").val()) + "&ZHJSRQ=" + encodeURIComponent($(".txtZHJSRQ").val()) + "&ZHHY=" + $(".ddlHY").find("option:selected").val();
                       });
                       function xuanzhong() {
                           var radioes = document.getElementsByName("item");
                           for (var i = 0; i < radioes.length; i++) {
                               if ('' == radioes[i].value) {
                                   radioes[i].checked = true;
                               }
                           }
                       }
                       xuanzhong();
                       $(".baoming").click(function () {
                           var ZHID = $(".baoming").attr("zhid").toString();

                           window.top.createDIV(window, "/ZHZL/Baoming.aspx?PKID=" + ZHID, "展会报名", 750, 600);
                       });
                   </script>

                   <!--以上是  ZH_recent-->
                   <div class="A_bit">
                       <div class="A_bit_nav">
                           <div class="RIGHT_current RIGHT_check"><a href="#">展会一点通</a></div>

                       </div>
                       <div class="A_bit_cont">
                           <div class="but_bit">
                               <a href="#"><img src="{IMG_PATH}new/BUT_1_06.gif" /></a>
                           </div>
                           <div class="but_bit">
                               <a href="#"><img src="{IMG_PATH}new/BUT_2_06 (2).gif" /></a>
                           </div>
                           <div class="but_bit3">
                               <a href="#"><img src="{IMG_PATH}new/BUT_3_06.gif" /></a>
                           </div>
                           <div class="but_bit">
                               <a href="#"><img src="{IMG_PATH}new/BUT_4_06.gif" /></a>
                           </div>
                           <div class="but_bit">
                               <a href="#"><img src="{IMG_PATH}new/but_5_06.gif"/></a>
                           </div>
                           <div class="but_bit3">
                               <a href="#"><img src="{IMG_PATH}new/BUT_6_06.gif"/></a>
                           </div>
                           <div class="but_bit bit_bt">
                               <a href="#"><img src="{IMG_PATH}new/BUT_7_06.gif"/></a>
                           </div>
                           <div class="but_bit bit_bt">
                               <a href="#"><img src="{IMG_PATH}new/but_8_06.gif" /></a>
                           </div>
                           <div class="but_bit4">
                               <a href="#"><img src="{IMG_PATH}new/but_9_06.gif" /></a>
                           </div>
                           <div class="clear"></div>
                       </div>
                   </div>
                   <!--以上是 A_bit-->

                   <!--以上是V_introduction-->
                   <div class="A_bit">
                       <div class="A_bit_nav">
                           <div class="RIGHT_current RIGHT_check"><a href="{$CATEGORYS[53][url]}">展会知识</a></div>

                       </div>
                       <div class="A_bit_cont">
                           <ul>
                               <li><span>2015-07-24</span>
                                   <a target="_blank" href="ZHZXDetail.aspx?PKID=32465">▪&nbsp;展台设计中传统模板与量身设计的利...</a>
                               </li>
                               
                               <li><span>2015-07-16</span>
                                   <a target="_blank" href="ZHZXDetail.aspx?PKID=32351">▪&nbsp;企业在选择展览会时务必确定目标</a>
                               </li>
                               
                               <li><span>2015-06-16</span>
                                   <a target="_blank" href="ZHZXDetail.aspx?PKID=31975">▪&nbsp;参展商容易忽略的四个细节</a>
                               </li>
                               
                               <li><span>2015-06-15</span>
                                   <a target="_blank" href="ZHZXDetail.aspx?PKID=31963">▪&nbsp;参展的十个步骤</a>
                               </li>
                               
                               <li><span>2015-06-09</span>
                                   <a target="_blank" href="ZHZXDetail.aspx?PKID=31884">▪&nbsp;维护会展知识产权 推动行业健康发展</a>
                               </li>

                           </ul>
                           <div class="MID_more"><a href="ZHZXList.aspx?LMID=798" target="_blank">更多>></a></div>
                           <div class="clear"></div>
                       </div>
                   </div>
               </div>
               <div class="clear"></div>
           </div>
       </div>


       <!--以上是中间内容部分-->

       
        {template "content","foot1"}
    </body>
</html>
