<a href="/">平台首页</a>&nbsp;<img src="{IMG_PATH}new/f_03.png" />
<input name="ctl00$dlyhid" type="text" id="ctl00_dlyhid" style="display: none;" class="dlyhid" value="-1" /> 
<a class="yhdl" >登陆</a>&nbsp;<img src="{IMG_PATH}new/f_03.png" />
<a target="_blank" href="/Register/UserType.aspx">注册</a>&nbsp;<img src="{IMG_PATH}new/f_03.png" />
<a href="#" onclick="SetHome(this, window.location);">设为首页</a>
<a href="#" style="display: none;" onclick="addBookmark('成都平台', location.href);">加入收藏</a> 
<a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA4MDQ0OF8xODk4OF84MDAwODA0NDhfMl8" style="text-decoration: none; color: #FF0000;">
    <img src="{IMG_PATH}new/qq_03.gif" /></a>
